<html>
  <head>
    <title>${c.title} Application</title>
    <h1 class="title">${c.content} Application</h1>
  </head>
  <body>
     <h1 class="title">Welcome to <code>${c.content}</code></h1>
  </body>
</html>